{% extends "base-nav.html" %}
{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-6 text-left">
        <h1>{{ blog_title }}</h1>
            </div>
        <div class="col-lg-6 text-right">
        <a href="/post/{{ blog_id }}/create" class="btn btn-success">Create Post</a>
        </div>

    </div>
    <hr>
    {% if not posts %}
        <div style="margin: 40px 0px;">
            <h3>There are no posts to show.</h3><br>
        </div>
    {% else %}
<!--        <div class="card-deck">-->
            {% for post in posts %}
                <div class="card" style="max-width: 69.5rem;margin: 20px 0px;">
                  <div class="row no-gutters">
<!--                  <div class="col-md-8">-->
                      <div class="card-body">
<!--                          <div class="card-header">-->
                            <h4 class="card-title">{{ post.title }}</h4>
<!--                              </div>-->
                          <hr>
                        <p class="card-text">Summary - {{ post.content[:] }}...</p>
                        <p class="card-text"><small class="text-muted">Created at {{ post.created_at }}</small></p>
                        <div class="text-right">
                        <a href="/post/{{ post._id }}" class="btn btn-success">
                          View Post
                        </a>
                        </div>
                      </div>
<!--                  </div>-->

<!--                  </div>-->
                </div>
                <!-- Modal -->
                </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}